TELEGRAM_BOT_TOKEN=
REDIS_URL=redis://127.0.0.1:6379/0
BASE_DIR=/var/www/ebook-translator
DB_PATH=/var/www/ebook-translator/db.sqlite3
PROVIDERS_PATH=/var/www/ebook-translator/providers.yaml
LOG_DIR=/var/log/ebook-translator
FONT_DIR=/var/www/ebook-translator/fonts
BOT_POLL_INTERVAL=5
GEMINI_API_KEYS=
GROQ_API_KEYS=
OPENROUTER_API_KEYS=
MISTRAL_API_KEYS=

